.img-quiz {
  position: relative;
}
.img-quiz .circle,
.img-quiz .circle-two,
.img-quiz .circle-three,
.img-quiz .circle-four {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 0.8;
  background-color: var(--bg-color);
  transform: translate(-50%, -50%);
  z-index: 1;
  top: 50%;
  left: 50%;
}
.img-quiz .circle-two {
  top: 20%;
  left: 20%;
}
.img-quiz .circle-three {
  top: 20%;
  left: 80%;
}
.img-quiz .circle-four {
  top: 80%;
  left: 20%;
}
.circle-answer li {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
